/* Semi-defaults from Aptoma */
body.editor-view {
    background-color: #444;
    color: #ccc;
}

/* Override default background color on buttons */
input[type="button"],
input[type="submit"],
button, div.button {
    background: #dce0e3;
}


/* Aptoma defaults for fieldsets */
fieldset {
    margin: 15px 0;
    padding: 20px 12px;
    min-height: 60px;
    border: none;
    border-bottom: solid 1px #dfdfdf;
}

/* Style labels, legends and subtitles */
label,
fieldset h3,
fieldset legend {
    font-size: 15px;
    color: #666;
}

fieldset h3 {
    margin-top: 10px;
}


/* Fieldset for adding new images */
fieldset.add-new-images {
    position: relative;
}


/* Override fieldset defaults for selected image (when not visible) */
.selected-image {
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.selected-image .edit-image,
.selected-image legend {
    display: none;
}

/* Fieldset with list of images */
fieldset.current-images {
    padding-right: 0;
}

/* Fieldsets within settings-pane */

.settings-pane fieldset {
    padding: 3px 18px 3px 12px;
    margin: 10px 5px;
    border: none;
}

.settings-pane label,
.settings-pane fieldset h3,
.settings-pane fieldset legend {
    color: #ccc;
}


/* Styling inputs and text areas */
input[type="text"],
input[type="search"],
textarea {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;

    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}


/* Specify colors for inputs in light grey panel */

.search input[type="text"],
.search input[type="search"] {
    width: 60%;
    float: left;
    color: #444;
    background: #fff;
    border: 1px solid #9db1c2;
}

.search input[type="text"]:focus,
.search input[type="search"]:focus {
    border-color: #4e6f8a;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(78,111,138,0.4);
}




/* Specify colors for inputs in dark grey window */

.settings-pane input[type="text"],
.settings-pane input[type="search"],
.settings-pane textarea {
    width: 100%;
    background: #ddd;
    border: 1px solid #444;
}

.settings-pane textarea {
    height: 150px;
    resize: none;
}

.settings-pane input[type="text"]:focus,
.settings-pane input[type="search"]:focus,
.settings-pane textarea:focus {
    border-color: #222;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 5px rgba(0, 0, 0 ,0.4);
}


/* INITIAL STATE - LOADING CONTENT (hide while loading) */

.loading .content, .loading .meta-editor {
    display: none;
}

.loader {
    display: none;
}

.loading .loader {
    display: block;
}




/* CONTENT - first panel (add image, choose image) */


/* Adding new images */

.file-upload {
    opacity: 0;
    z-index: 5;
}

.file-upload,
button.upload-local-file,
button.upload-scanpix-image {
    width: 225px;
    height: 30px;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
}

.file-upload, button.upload-local-file {
    left: 12px;
}

button.upload-scanpix-image {
    left: 250px;
}

.file-upload:hover + .upload-local-file {
    opacity: 1;
}

.search button {
    margin-left: 5px;
}

.search-stats {
    clear: both;
    margin: 30px 0 0;
    color: #665;
}


/* IMAGE LIST  */



.selected-image .loading .imbo-spinner {
    display: none;
    height: 75px;
    margin: 40px 185px;
    width: 75px;
}

.selected-image img {
    float: left;
    margin: 0 10px 10px 0;
    display: none;
}


.image-list {
    list-style-type: none;
    margin: 0 -5px; /* compensate for item margin */
    padding: 0;
    background: #F5F5F5;
    overflow-y: auto;
    min-height: 250px;
}

.lang-en .image-list:empty:before {
    content: 'No results';
}

.lang-no .image-list:empty:before {
    content: 'Ingen resultater';
}

.image-list:empty:before {
    line-height: 110px;
    width: 100%;

    text-align: center;
    font-size: 5em;
    font-weight: bold;

    background-color: #666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.image-list:empty {
    background: #fff;
}


.image-list li {
    position: relative;
    float: left;
    width: 30.65%;
    margin: 5px;
    padding-bottom: 30px; /* will be occupied by image-toolbar */
    height: 130px;
    background: #fff;
    border: 1px solid #ddd;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.image-list li.redmarked {
    border-color: #f16b52;
}


.image-list .full-image {
    margin: 0 auto;
}

.image-list .full-image img {
    max-width: 100%;
    max-height: 120px;
}

.image-list .insert-image {
    display: none;
}

.image-list.insertion-enabled .insert-image {
    display: inline;
}



/* IMAGE TOOLBAR */

.image-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #dee2e5;
    opacity: .4;
    transition: opacity .4s;
}

.image-list li:hover .image-toolbar {
    opacity: 1;
}

.image-toolbar button {
    background: none;
    opacity: 0.6;
}

.image-toolbar button:hover {
    opacity: 1;
}

.image-toolbar button i {
    color: #00508E;
}

.image-list li:hover .image-toolbar {
    display: block;
}

/* redmarked toolbar */

.image-list li.redmarked .image-toolbar {
    background: #f6a191;
}

.image-list li.redmarked .image-toolbar button i {
    color: #52150a;
}



/* META INFO in image-list */

.meta-info {
    position: absolute;
    top: 40px;
    z-index: 100;
    min-height: 150px;
    width: 205.5%;
    color: #ddd;
    background: #222;
    text-align: left;
}

.meta-info dt {
    display: none;
}


/* Progress bar */

.progress {
    margin: -31px 0 10px 0;
    border: 1px solid #ddd;
    position: relative;
    background: #fff;
}

.progress, .progress .file, .progress .file .bar {
    height: 30px;
}

.progress .file {
    float: left;
}

.progress .bar {
    width: 0%;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;

    -webkit-transition: width 0.7s ease-out;
       -moz-transition: width 0.7s ease-out;
        -ms-transition: width 0.7s ease-out;
         -o-transition: width 0.7s ease-out;
            transition: width 0.7s ease-out;
}

.progress .file:nth-child(1) { background: rgba(176, 201, 232, 0.1); }
.progress .file:nth-child(1) .bar { background: rgb(176, 201, 232); }
.progress .file:nth-child(2) { background: rgba(9, 136, 207, 0.1); }
.progress .file:nth-child(2) .bar { background: rgb(9, 136, 207); }
.progress .file:nth-child(3) { background: rgba(122, 211, 245, 0.1); }
.progress .file:nth-child(3) .bar { background: rgb(122, 211, 245); }
.progress .file:nth-child(4) { background: rgba(68, 103, 131, 0.1); }
.progress .file:nth-child(4) .bar { background: rgb(68, 103, 131); }
.progress .file:nth-child(5) { background: rgba(106, 149, 121, 0.1); }
.progress .file:nth-child(5) .bar { background: rgb(106, 149, 121); }
.progress .file:nth-child(6) { background: rgba(209, 168, 106, 0.1); }
.progress .file:nth-child(6) .bar { background: rgb(209, 168, 106); }
.progress .file:nth-child(7) { background: rgba(231, 202, 160, 0.1); }
.progress .file:nth-child(7) .bar { background: rgb(231, 202, 160); }
.progress .file:nth-child(8) { background: rgba(134, 138, 54, 0.1); }
.progress .file:nth-child(8) .bar { background: rgb(134, 138, 54); }
.progress .file:nth-child(9) { background: rgba(40, 24, 0, 0.1); }
.progress .file:nth-child(9) .bar { background: rgb(40, 24, 0); }



/* AFTER CLICKING AN IMAGE, YOU're TAKEN TO THE EDITOR:  */



/* EDITOR / META INFO */

/*
    Note:

    Previously we had an image-editor and a meta-editor.
    Now, all lives within the .image-editor, but meta stuff is wrapped in  .image-editor > .settings-pane > .settings-tab.meta > .meta-editor

    So, now, these are the paths to the two different parts:

    .image-editor > .settings-pane > .settings-tab.image
    .image-editor > .settings-pane > .settings-tab.meta > .meta-editor >.tabs
    .image-editor > .image-container

*/


.image-editor .image-container,
.image-editor .settings-pane {
    float: left;
}



/* IMAGE EDITOR */



/* Image-container  NOW HOW DOES THIS WORK? */
.image-editor .image-container {
    width: 74.5%;
    min-height: 400px;
    margin-top: 13px;
}

/* what is this? */
.meta-editor .image-container .source {
    display: table-cell;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.image-editor .image-container h2 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 15px;
    position: absolute;
}




/* universal image editor */

.image-editor .buttons {
    padding: 10px;
    text-align: center;
}

.image-editor .buttons button {
    font-size: 1.2em;
}

.image-editor button.close {
    margin: 0 auto;
}

.standalone .image-editor button.close  {
    display: inline-block;
}


.image-editor fieldset legend {
    color: #ccc;
}

.image-editor button {
    color: #ccc;
    background-color: #333;
    border: 1px solid #666;
}



/* settings pane */

.image-editor .settings-pane {
    margin-top: 12px;
    width: 24.5%;
}


.image-editor .settings-pane > div {

}


.image-editor .settings-pane legend {
    font-size: 1.2em;
}

.image-editor .settings-pane legend .fa {
    margin: 0 7px;
}


/* settings header */


.image-editor .settings-header {
    display:none;
    padding: 0 0 0 12px;
}

.image-editor.insertion-enabled .settings-header {
    display:block;
}

.image-editor .settings-header > button {
    display: inline-block;
    float: none;
    padding: 6px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 46%;
    background-color: #444;
}

.image-editor .settings-header > button.active {
    background-color: #555;
    border-color: #AAA;
    cursor: pointer;
    opacity: 1;
}


/* settings tab - container for image + meta */

.settings-tab {
    padding-top: 12px;
}


.image-editor .settings-tab {
    background-color: #555;
    margin: 0 12px;
}


.settings-tab .tab-controller,
.settings-tab .tab-controller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.settings-tab .tab-controller li {
    display: inline-block;
}

.settings-tab .tab-controller button {
    font-size: 1.1em;
    height: 2em;
    margin-left: 6px;
}

.settings-tab .tabs .active {
    background: #999;
    color: #000;
}


/* IMAGE EDITING - within .settings-tab .image */

.image-editor .crop-presets {
    min-height: 40px;
}

.image-editor .crop-presets .ratio {
    margin: 0 5px 5px 0;
}

.image-editor .crop-presets .active {
    background: #333;
    border-color: #999;
}

.image-editor .rotate:first-of-type {
    margin-left: 6px;
}
.image-editor .rotate {
    font-size: 2em;
    padding: 0.2em .4em 1.6em;
}

.image-editor .controls label {
    display: block;
    font-size: 1.1em;
    font-weight: normal;
    margin: 10px;
}

.image-editor .settings-pane input[type=range] {
    display: block;
    margin: 0 auto;
    width: 80%;
}






/* META EDITING - within .settings-tab .meta */



/* Styling list of exif data: */

/* clearfix */
.exif-pane dl:after {
    content: "";
    display: table;
    clear: both;
}

.exif-pane	dl {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    border-bottom: 1px solid #6b6b6b;
}

.exif-pane dl dt {
    clear: both;
    width: 43%;
    float: left;
    margin: 0;
    padding: 6px 1% 4px 4%;
    font-weight: 600;
    border-top: 1px solid #6b6b6b;
}

.exif-pane dl dd {
    float: left;
    width: 50%;
    margin: 0;
    padding: 6px 1%;
    border-top: 1px solid #6b6b6b;
}





/* Utility classes */

.droppable {
    background: #baeebc;
}

.hidden {
    display: none !important;
}

.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}



/* Degrade functionality if running standalone (Newspilot) */
.standalone .add-new-images,
.standalone .image-toolbar .image-use,
.standalone .image-toolbar .image-delete,
.standalone .meta-editor .save,
.standalone .meta-editor .image-container {
    display: none;
}

.standalone .image-list .full-image {
    cursor: default;
}

/* End of degrade styling */




/** MEDIA QUERIES **/
@media all and (max-width: 546px) and (min-width: 370px) {
    .image-list li {
        width: 46%;
    }
}

@media all and (max-width: 369px) {
    .image-list li {
        width: 92%;
    }
}
