.hidden {
    display: none;
}

.loading .content, .loading .meta-editor {
    display: none;
}

.loader {
    display: none;
}

.loading .loader {
    display: block;
}

fieldset.add-new-images {
    position: relative;
    min-height: 55px;
}

.file-upload {
    opacity: 0;
    z-index: 5;
}

.file-upload, button.upload-local-file {
    position: absolute;
    left: 10px;
    width: 225px;
    height: 30px;
}

.spacer {
    visibility: hidden;
    display: inline-block;
    height: 30px;
}

button.upload-local-file {}

.current-images {
    padding: 0;
}

.image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.image-list li {
    position: relative;
    float: left;
    width: 30.8%;
    margin: 5px;
    height: 160px;
    background: #fff;
    border: 1px solid #DDD;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.image-list .full-image {
    margin: 0 auto;
}

.image-list .full-image img {
    max-width: 100%;
}

.image-toolbar {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 0;
    width: 100%;
    background: #CCDCE8;
}

.image-toolbar button {
    font-size: 2em;
    background: none;
    opacity: 0.6;
}

.image-toolbar button:hover {
    opacity: 1;
}

.image-toolbar button i {
    color: #00508E;
}

.image-list li:hover .image-toolbar {
    display: block;
}

.progress {
    margin: -31px 0 10px 0;
    border: 1px solid #ddd;
    position: relative;
    background: #fff;
}

.progress, .progress .file, .progress .file .bar {
    height: 30px;
}

.progress .file {
    float: left;
}

.progress .bar {
    width: 0%;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;

    -webkit-transition: width 0.7s ease-out;
       -moz-transition: width 0.7s ease-out;
        -ms-transition: width 0.7s ease-out;
         -o-transition: width 0.7s ease-out;
            transition: width 0.7s ease-out;
}

.progress .file:nth-child(1) { background: rgba(176, 201, 232, 0.1); }
.progress .file:nth-child(1) .bar { background: rgb(176, 201, 232); }
.progress .file:nth-child(2) { background: rgba(9, 136, 207, 0.1); }
.progress .file:nth-child(2) .bar { background: rgb(9, 136, 207); }
.progress .file:nth-child(3) { background: rgba(122, 211, 245, 0.1); }
.progress .file:nth-child(3) .bar { background: rgb(122, 211, 245); }
.progress .file:nth-child(4) { background: rgba(68, 103, 131, 0.1); }
.progress .file:nth-child(4) .bar { background: rgb(68, 103, 131); }
.progress .file:nth-child(5) { background: rgba(106, 149, 121, 0.1); }
.progress .file:nth-child(5) .bar { background: rgb(106, 149, 121); }
.progress .file:nth-child(6) { background: rgba(209, 168, 106, 0.1); }
.progress .file:nth-child(6) .bar { background: rgb(209, 168, 106); }
.progress .file:nth-child(7) { background: rgba(231, 202, 160, 0.1); }
.progress .file:nth-child(7) .bar { background: rgb(231, 202, 160); }
.progress .file:nth-child(8) { background: rgba(134, 138, 54, 0.1); }
.progress .file:nth-child(8) .bar { background: rgb(134, 138, 54); }
.progress .file:nth-child(9) { background: rgba(40, 24, 0, 0.1); }
.progress .file:nth-child(9) .bar { background: rgb(40, 24, 0); }

.meta-editor fieldset {
    padding: 3px 18px 3px 3px;
    margin: 5px;
}

.meta-editor fieldset input, .meta-editor fieldset textarea {
    width: 100%;
    border: 0;
}

.meta-editor .input-pane textarea {
    height: 150px;
    resize: none;
}

.meta-editor .image-container, .meta-editor .input-pane {
    float: left;
    width: 29.5%;
}

.meta-editor .image-container {
    width: 69.5%;
    background: #F5F5F5 url(../img/loading.gif) no-repeat 50% 50%;
    background-size: contain;
    min-height: 400px;
    border: 1px solid #000;
    margin-top: 13px;
}

.meta-editor .image-container h2 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 15px;
}

.meta-editor .buttons {
    padding: 10px;
    text-align: center;
}

.meta-editor .buttons button {
    font-size: 1.2em;
}

.meta-editor button.close {
    display: none;
    margin: 0 auto;
}

.standalone .meta-editor button.close {
    display: inline-block;
}